In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
pip install  kaggle

Requirement already satisfied: kaggle in d:\program\anaconda\lib\site-packages (1.5.13)
Requirement already satisfied: six>=1.10 in d:\program\anaconda\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in d:\program\anaconda\lib\site-packages (from kaggle) (2022.9.14)
Requirement already satisfied: urllib3 in d:\program\anaconda\lib\site-packages (from kaggle) (1.26.11)
Requirement already satisfied: tqdm in d:\program\anaconda\lib\site-packages (from kaggle) (4.64.1)
Requirement already satisfied: requests in d:\program\anaconda\lib\site-packages (from kaggle) (2.28.1)
Requirement already satisfied: python-dateutil in d:\program\anaconda\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: python-slugify in d:\program\anaconda\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: text-unidecode>=1.3 in d:\program\anaconda\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<3,>=2 in d:\program\anaconda\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in d:\program\anaconda\lib\site-packages (from requests->kaggle) (3.3)
Requirement already satisfied: colorama in d:\program\anaconda\lib\site-packages (from tqdm->kaggle) (0.4.5)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import zipfile
import kaggle

In [4]:
import kaggle

In [5]:
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

london-bike-sharing-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [6]:
zipfile_name= 'london-bike-sharing-dataset.zip'
with zipfile.ZipFile(zipfile_name,'r') as file:
    file.extractall()

In [7]:
bikes= pd.read_csv('london_merged.csv')

In [8]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [9]:
bikes.isnull().sum()

timestamp       0
cnt             0
t1              0
t2              0
hum             0
wind_speed      0
weather_code    0
is_holiday      0
is_weekend      0
season          0
dtype: int64

In [10]:
bikes.shape

(17414, 10)

In [11]:
bikes.describe()

,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
count,17414.000000,17414.000000,17414.000000,17414.000000,17414.000000,17414.000000,17414.000000,17414.000000,17414.000000
mean,1143.101642,12.468091,11.520836,72.324954,15.913063,2.722752,0.022051,0.285403,1.492075
std,1085.108068,5.571818,6.615145,14.313186,7.894570,2.341163,0.146854,0.451619,1.118911
min,0.000000,-1.500000,-6.000000,20.500000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,257.000000,8.000000,6.000000,63.000000,10.000000,1.000000,0.000000,0.000000,0.000000
50%,844.000000,12.500000,12.500000,74.500000,15.000000,2.000000,0.000000,0.000000,1.000000
75%,1671.750000,16.000000,16.000000,83.000000,20.500000,3.000000,0.000000,1.000000,2.000000
max,7860.000000,34.000000,34.000000,100.000000,56.500000,26.000000,1.000000,1.000000,3.000000

In [12]:
bikes

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [13]:
bikes.weather_code.value_counts()

1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: weather_code, dtype: int64

In [14]:
bikes.season.value_counts()

0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: season, dtype: int64

In [15]:
# menentukan nama kolom yang ingin saya gunakan 

new_cols_dict = {
    'timestamp':'time',
    'cnt':'count',
    't1':'temp_real_c',
    't2':'temp_feels_like_c',
    'hum':'humidity_percent',
    'wind_speed':'wind_speed_kph',
    'weather_code':'weather',
    'is_holiday':'is_holiday',
    'is_weekend':'is_weekend',
    'season':'season'
}
# memberi nama kolom setelah menentukan nama kolom sesuai keinginan saya
bikes.rename(new_cols_dict, axis=1, inplace = True)

In [16]:
# merubah nilai the humidity mencadi persen
bikes.humidity_percent = bikes.humidity_percent / 100

In [17]:
# membuat nama season bertipe ineger menjadi nama season  sebenarnya

season_dict = {
    '0,0':'spring',
    '1,0':'summer',
    '2.0':'autumn',
    '3.0':'winter'
}

# membuat nama weather  bertipe ineger menjadi nama written sebenarnya

weather_dict = {
    '1.0':'clear',
    '2.0':'scattered clouds',
    '3.0':'broken clouds',
    '4.0':'cloudy',
    '7.0':'rain',
    '10.0':'rain with thunderstrom',
    '26.0':'snowfall'
}

# merubah the season kolum tipe data ke string
bikes.season = bikes.season.astype('str')
# mapping the values 0-3 to the actual written seasion 
bikes.season = bikes.season.map(season_dict)

# merubah the weather  kolom tipe data ke string
bikes.weather = bikes.weather.astype('str')
# mapping the values to the actual written weathers
bikes.weather = bikes.weather.map(weather_dict)

In [18]:
# cek dataframe untuk melihat mapping berfungsi
bikes.head(15)

,time,count,temp_real_c,temp_feels_like_c,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,clear,0.0,1.0,winter
5,2015-01-04 05:00:00,46,2.0,2.0,0.930,4.0,clear,0.0,1.0,winter
6,2015-01-04 06:00:00,51,1.0,-1.0,1.000,7.0,cloudy,0.0,1.0,winter
7,2015-01-04 07:00:00,75,1.0,-1.0,1.000,7.0,cloudy,0.0,1.0,winter
8,2015-01-04 08:00:00,131,1.5,-1.0,0.965,8.0,cloudy,0.0,1.0,winter
9,2015-01-04 09:00:00,301,2.0,-0.5,1.000,9.0,broken clouds,0.0,1.0,winter
10,2015-01-04 10:00:00,528,3.0,-0.5,0.930,12.0,broken clouds,0.0,1.0,winter
11,2015-01-04 11:00:00,727,2.0,-1.5,1.000,12.0,broken clouds,0.0,1.0,winter
12,2015-01-04 12:00:00,862,2.0,-1.5,0.965,13.0,cloudy,0.0,1.0,winter
13,2015-01-04 13:00:00,916,3.0,-0.5,0.870,15.0,broken clouds,0.0,1.0,winter
14,2015-01-04 14:00:00,1039,2.5,0.0,0.900,8.0,broken clouds,0.0,1.0,winter

In [19]:
# writing the final dataframe to an excel final that we will use in our taleau visual

bikes.to_excel('london_bikes_final.xlsx',sheet_name='Data')

In [22]:
bikes.to_csv('london_bikes_csv_final.csv',index= False)